body {
  font-size: 16px;
  color: #fff;
  background-color: #eb3b7b;
  font-family: 'Oxygen', sans-serif;
  margin: 10px;
}

/** HEADER **/
#main-nav {
  background-color: #19e7f6;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #f3e417;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 1.5px #f000f0;
  margin-top: 0px;
  margin-bottom: 0;
  line-height: .80;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #b82b3d;
  text-align: center;
}
#nav-list a:hover {
  background: #f3e417;
}
#nav-list a span {
  font-size: 1.8em;
}
.menu{
  font-size: 3em;
  text-align: center !important;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 1.5px #000;
  line-height: 0.75;
}
#chicken{
  background-color: darkorange;
  margin: 10px;
}
#chicken h3{
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1.5px 1.5px 1.5px #000;
  text-align: center;
  font-weight: 900;
  margin-left: 20px;
}
#chicken p{
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 20px;
  padding-left: 5px;
}
@media (min-width: 1200px){
  .navbar-brand h1{
    font-size: 4em;
    margin-top: 10px;
    margin-left: 0;
    padding: 0;
    float: left;
  }
  #nav-list a{
    font-size: 2em;

  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        padding: 1.5%;
    }
	.col-md-1 {
        width: 8.33%;
    }
    
    .col-md-2 {
        width: 16.66%;
    }
    
    .col-md-3 {
        width: 25%;
    }
    
    .col-md-4 {
        width: 33.33%;
    }
    
    .col-md-5 {
        width: 41.66%;
    }
    
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-7 {
        width: 58.33%;
    }
    
    .col-md-8 {
        width: 66.66%;
    }
    
    .col-md-9 {
        width: 75%;
    }
    
    .col-md-10 {
        width: 83.33%;
    }
    
    .col-md-11 {
        width: 91.66%;
    }
    
    .col-md-12 {
        width: 100%;
    }

}

	
}
@media (min-width: 768px) and (max-width: 1199px ){
  .navbar-brand h1{
    font-size: 4em;
    margin-top: 10px;
    margin-left:0;
    padding: 0;
    float: left;
  }
  #nav-list a{
    font-size: 1.5em;
  }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    padding: 1.5%;
}
.col-sm-1 {
    width: 8.33%;
}

.col-sm-2 {
    width: 16.66%;
}

.col-sm-3 {
    width: 25%;
}

.col-sm-4 {
    width: 33.33%;
}

.col-sm-5 {
    width: 41.66%;
}

.col-sm-6 {
    width: 50%;
}

.col-sm-7 {
    width: 58.33%;
}

.col-sm-8 {
    width: 66.66%;
}

.col-sm-9 {
    width: 75%;
}

.col-sm-10 {
    width: 83.33%;
}

.col-sm-11 {
    width: 91.66%;
}

.col-sm-12 {
    width: 100%;
}    

}

@media(max-width:767px){
  .navbar-brand h1{
    font-size: 2em;
  }
  .col-xs-1, .col-xs-2, .colxs-3, .colxs-4, .colxs-5, .colxs-6, .colxs-7, .colxs-8, .colxs-9, .colxs-10, .col-xs-12 {
    float: left;
    padding: 1.5%;
}
.col-xs-1 {
    width: 8.33%;
}

.col-xs-2 {
    width: 16.66%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33%;
}

.col-xs-5 {
    width: 41.66%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33%;
}

.col-xs-8 {
    width: 66.66%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33%;
}

.col-xs-11 {
    width: 91.66%;
}

.col-xs-12 {
    width: 100%;
}    

}


